.detail{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width:800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.detail img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.detail h2{
  font-size:32px;
  margin:10px 0;
  color: #333;
}

.detail ul{
  list-style: none;
  padding:0px;
  margin: 0px;
  display:flex;
  gap:10px;
  flex-wrap: wrap;
}

.detail li{
  background-color: #f4f4f4;
  border:1px solid #ddd;
  border-radius: 20px;
  padding:5px 10px;
  font-size:12px;
  color: #333;
}
.detail li:hover{
  background-color: #e0e0e0;
  cursor: pointer;
}